.navbar-brand, .slicknav_brand{
    width:256px;
}
@media (max-width : 850px){
    .slicknav_brand{
        width:50px;
    }
}

.footer-logo{
    width:75%;
}

.panel-default .panel-heading .note-editor > .dropdown-menu a{ color: black ; }